<% if user_signed_in? %>
<div class="hero-unit">
<h1>ASC360 Project Management</h1>

<p>
  You are Logged in !
</p>
</div>
<% else %> 
<div class="hero-unit">
<h1>ASC360 Project Management</h1>

<p>
  Welcome to ASC360 Project Management
</p>
<p>
  <%= link_to "Sign Up Now!", new_user_registration_path, class: "btn btn-primary btn-large" %>
</p>
</div>
<% end %>