.inner-frame{

  padding-top: 100px
}

input{

  width:20px;
}

.footer {
  padding-bottom: 

}

#logo {
  float: left;
  margin-right: 10px;
  padding-top: 3px;
  line-height: 20;
  
}
#state {
  float: left;
  margin-left: 400px;
  
  line-height: 20;
  &:hover {
    color: white;
    text-decoration: none;
  }
}
table tr.oddrow {
    background-color: #ADD8E6;
}

table tr.evenrow {
    background-color: #C0C0C0;
}
